@import "../icons/widgricon/style.scss";
@import "../../vendors/scss/normalize.scss";
@import "../../vendors/scss/reset.scss";

// Default heading properties
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
h1, h2, h3 { margin: 0 0 0.56em; }  
h4, h5, h6, p { margin: 0 0 0.80em; }  

// Default paragraph properties
p {
  font-size: $font-size-xxl;
  line-height: 180%;
  a, span, label {
    font-size: inherit;
    line-height: inherit;
  }
}

// Default hyperlink properties
a {
  color: var(--color-a-1);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: var(--color-b-1);
    text-decoration: underline;
  }
}

// Miscalaneous hyperlink properties
small, sup, sub {
  font-size: calc(var(--font-size) - 4px);
  text-transform: uppercase;
  font-weight: 600;
}
code {
  font-size: var(--font-size);
  font-weight: 400;
}
hr {
  margin: 2rem 0;
  border-color: var(--color-x-8);
}