@font-face {
  font-family: 'Widgricon';
  src:  url('assets/widgricon/fonts/Widgricon.eot?2wykuq');
  src:  url('assets/widgricon/fonts/Widgricon.eot?2wykuq#iefix') format('embedded-opentype'),
    url('assets/widgricon/fonts/Widgricon.ttf?2wykuq') format('truetype'),
    url('assets/widgricon/fonts/Widgricon.woff?2wykuq') format('woff'),
    url('assets/widgricon/fonts/Widgricon.svg?2wykuq#Widgricon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wg-icon"], [class*=" wg-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Widgricon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wg-icontest:before {
  content: "\e900";
}
