$colors-seafoam:
	#0BD57D
	#0CEF8C
	#0DFC93
	rgba(#0BD57D, 0.41)
	rgba(#0BD57D, 0.28)
	rgba(#0BD57D, 0.12)
	rgba(#0BD57D, 0.06);

$colors-amethyst:
	#6F5BED
	#7B66FF
	#8A77FF
	rgba(#6F5BED, 0.41)
	rgba(#6F5BED, 0.28)
	rgba(#6F5BED, 0.12)
	rgba(#6F5BED, 0.06);

$colors-system:
	#171A1E
	#22272C
	#373E45
	#5C636F
	#768091
	#8C95A3
	#BABFC8
	#E5E7EB
	#F2F3F5
	#F7F8F9
	#FFFFFF;