@import "wg_core/assets/scss/_normalize.scss";
@import "wg_core/assets/scss/_reset.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');
@import 'wg_core/assets/widgricon/style.scss';

#app {
	min-height: 100vh;
	// The application background color (white/black)
	background-color: var(--color-x-11);
	// Default font color 
	color: var(--color-x-1);
  // Font rem responsive behavior
  font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	@media screen and (max-width: #{$tablet-brakepoint}) {
		font-size: calc(var(--font-size) - 2px);
	}
	@media screen and (max-width: #{$mobile-brakepoint}) {
		font-size: calc(var(--font-size) - 4px);
	}
	// Creating the primary and secondary color variations
	@for $index from 1 through 7 {
		--color-a-#{$index}: #{nth($colors-a, $index)};
		--color-b-#{$index}: #{nth($colors-b, $index)};		
	}
	// Creating the system monochromatic color variations
	@for $index from 1 through 11 {
		--color-x-#{$index}: #{nth($colors-x, $index)};
	}
	// Dark theme variations overwrite
	::selection {
		background: var(--color-b-3);
	}
	&.dark {
		// Swap primary to secondary color and vice versa
		@for $index from 1 through 7 {
			--color-a-#{$index}: #{nth($colors-b, $index)};
			--color-b-#{$index}: #{nth($colors-a, $index)};
		}
		// Invert the system monochromatic color variations order
		@for $index from 11 through 1 {
			--color-x-#{$index}: #{nth($colors-x, (12 - $index))};
		}
	}
}

@import "wg_core/assets/scss/main.scss";