$font-size: 14px;

$font-size-h1: 4.571rem;
$font-size-h2: 4rem;
$font-size-h3: 3.429rem;
$font-size-h4: 2.857rem;
$font-size-h5: 2.286rem;
$font-size-h6: 1.714rem;

$font-larger: calc(var(--font-size) + 4px);
$font-large: calc(var(--font-size) + 2px);
$font-small: calc(var(--font-size) - 2px);