/* Centralizes the content of a given container */
@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Default transition setup */
@mixin default-transition($properties) {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: $properties;
}