:root {
	--font-size: 14px;
	--font-family: Arial, Helvetica, sans-serif;

	--transition-duration: 200ms;
	--transition-timing-function: ease-out;

	--color-info: #3B9DEA;
	--color-error: #FA4646;
	--color-warning: #DBC53D;
	--color-success: #46CD72;
}
