@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');

:root {
  --font-size: $font-size;
  font-weight: 400;
  font-size: var(--font-size);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	@media screen and (max-width: #{$tablet-brakepoint}) {
    font-size: calc(var(--font-size) - 2px);
	}
	@media screen and (max-width: #{$mobile-brakepoint}) {
    font-size: calc(var(--font-size) - 4px);
	}
}

@import './headings';
@import './paragraphs';
@import './hyperlinks';
@import './misc';
@import './classes';